* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(19, 19, 206);
}

/* container */

.container {
  background-color: #fff;
  height: 260px;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  transition: 0.2s;
}

/* header */

#qr-header {
  text-align: center;
}

#qr-header h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#qr-header p {
  color: #444;
  font-size: 0.9rem;
}

